.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 27rem;
    height: auto;
    background-color: #f3f3f3;
    border-radius: 2px;
    margin-top: 2.5rem;
    padding: 2.5rem;
    color: #333;
}

.box p {
    font-size: 1.2rem;
}

.box form {
    display: flex;
    flex-direction: column;
}

.box h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.box input {
    border: 1px solid #b3b3b3;
    color: #000;
    border-radius: 2px;
    outline: none;
    font-size: 1rem;
    height: 44px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #0080ff;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.captcha {
    color: #999;
    margin: 0 31rem;
}

.captcha p span {
    text-decoration: underline;
    cursor: pointer;
}

.captcha p a {
    color: #999;
}

.error {
    color: #b00500;
    margin-bottom: 0.5rem;
}

.errorBorder {
    border: 1px solid #b00500 !important;
    margin-bottom: 0.5rem !important;
}

.email-error {
    background: #ffa00a;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.email-error span {
    background-color: white;
    color: #ffa00a;
    border-radius: 50%;
    width: 1.9rem;
    height: 1.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.email-error p {
    padding-left: 1.3rem;
}