.image{
    height: 162%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: .5;
}
.overall
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content
{
    background-color: #fafafa;
   height: 20rem;
   width: 28rem;  
   margin-top: 10rem;
   padding: 1rem;
}
.heading{
    color:black;
    margin-left: 1.4rem;
    font-weight: 500;
}
.content p{
    background-color: #fafafa;
    font-size: 1.2rem;
    padding: 1rem;
}
.button{
    width: 24rem;
    height: 4rem;
    background-color: #0080ff;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin-top: 2rem;
   margin-left: 1rem;
    font-size: 1.5rem;
 }