.container {
    display: flex;
    justify-content: center;
    margin-bottom: 24rem;
}

.container input {
    width: 30rem;
    height: 4.1rem;
    font-size: 1.1rem;
    outline: none;
    border: 0;
    padding-left: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.container button {
    width: 13rem;
    height: 4.2rem;
    border: 1px solid transparent;
    background: #f40612;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.error {
    color: #ffa00a;
    font-size: 1rem;
    margin-top: 1rem;

}