.overall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    height: 6rem;
    width: 25rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.overall h1{
    text-align: center;
    margin:0%
}
.overall p{
    font-size: 1.2rem;
    text-align: center;
    
}
.button{
    width: 22rem;
    height: 4rem;
    background-color: #f6121d;
    color: white;
    font-size: 1.5rem;
    border-color: white;
    border-radius: 4px;
}