.overall
{
    height: 100vh;
    width: 100wh;
    background-color: white;
}
.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    color: #333;
}
.box span{
    text-align: center;
    font-size: 1rem;
    /* margin-left: 5rem; */
}
.box h1{
    font-size: 2rem;
    
}
.box p{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 0 !important;
   
}
.button{
    width: 26rem;
    height: 4rem;
    background-color: #f6121d;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left:6.1rem ;
    font-size: 1.5rem;
 }
 .tick{
    font-size: 1.6rem !important;
    align-self: flex-start;
    color: #e50914;
    flex: none;
    margin-left: 0%;
    margin-right: 0.7rem;
   
 }
 .step{
    margin-left: 5rem;
 }